.col-sm-12.col-md-12.col-lg-12.col-xl-12
  %hr
    .separator
  .col-sm-2.col-md-2.col-lg-2.col-xl-2
    .text-center
      .long_text.message_owner_name
        %b
          - avatar = message.user.avatar? ? image_tag(message.user.avatar.thumb.url) + '<br>'  : ''
          = link_to(message.user.name, user_path(message.user),
           'data-content': avatar  + time_ago_in_words(message.created_at) + t('ago'),
            'data-toggle': 'popover',
            'data-placement': 'right',
            'data-trigger': 'hover',
             title: t('information'),
             ) + ':'
  .col-sm-10.col-md-10.col-lg-10.col-xl-10
    .long_text
      = Emoji.replace_unicode_moji_with_images(message.content)


:javascript
  $(document).ready( function() {
    $('.pre-scrollable').scrollTop($('.pre-scrollable')[0].scrollHeight);
  });

    $(function () {
    $('[data-toggle="popover"]').popover({
      html: true,
      container: 'body'
    });
  })