.col-sm-12.col-md-12.col-lg-12.col-xl-12
  - if user_signed_in?
    %br
    %br
    %form.new_comment_form{id: 'comment_input', onsubmit: 'pressBtnSendComment()'}
      %input{name: 'image_id', type: 'hidden', value: "#{@image.id}"}/
      %input{name: 'user_id', type: 'hidden', value: "#{current_user.id}"}/
      .field
        .col-sm-12.col-md-12.col-lg-12.col-xl-12
          %textarea.form-control{name: 'content', maxlength:'200',
          class: 'form-control limited-text-input', placeholder: t('new_comment'),
            required: true, onkeypress: 'pressKeySendComment(event)'}
          %br
          .pull-left
            #count_message
          %br
            .pull-right
              %input.btn.btn-success{type: 'submit', name: 'post_message', value: t('post'), id: 'btn-comment-post'}


