.col-sm-12.col-md-12.col-lg-12.col-xl-12
  - if user_signed_in?
    %br
    %br
    %form.new_comment
      %input{name: 'image_id', type: 'hidden', value: "#{@image.id}"}/
      %input{name: 'user_id', type: 'hidden', value: "#{current_user.id}"}/
      .field
        .col-sm-12.col-md-12.col-lg-12.col-xl-12
          %textarea.form-control{name: 'content', class: 'form-control', placeholder: t('new_comment'), id: 'comment-input', required: true}
          %br
            .pull-right
              %input.btn.btn-success{type: 'submit', value: t('post'), id: 'btn-comment-post'}