= form_for(@comment) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.text_area :content, placeholder: 'New comment...'
  %br
  .actions
    = f.submit 'Post', class: 'btn btn-primary'