.col-lg-12.text-center
  %br
  %br
  %button{type: 'button', remote: true, href: new_category_path, class:'btn btn-effect btn-primary btn-block btn-lg outline', data: {target: '#myModal', toggle: 'modal'}}
    = t('create_own_category')
  = render partial: 'categories/new'