- if user_signed_in?
  .col-lg-12.text-center
    %br
    %br
    %button{type: 'button', remote: true, href: new_room_path, class:'btn btn-effect btn-primary btn-block btn-lg outline', data: {target: '#myRoomModal', toggle: 'modal'}}
      = t('create_new_room')
    = render partial: 'rooms/new'