- if flash[:error]
  .alert.alert-danger
    .close
      %span.glyphicon.glyphicon-remove
    %p
      - if flash[:error].is_a? Array
        - flash[:error].each do |err|
          = err
          %br
      - else
        = h flash[:error]
- if flash[:success] || flash[:notice]
  .alert.alert-success
    .close
      %span.glyphicon.glyphicon-remove
    %p
      = h flash[:success]
