- @images.each do |image|
  .col-sm-6.col-md-6.col-lg-4.col-xl-4
    .panel.panel-default.text-center
      .panel-image.hide-panel-body
        %img.panel-image-preview
          .wrapper
            .hover11.column
              %figure
                = link_to category_image_path(image.category, image),{ data:{ toggle:'tooltip',placement:'left'}, title:'Open this image'} do
                  = image_tag(image.picture.thumb.url)
                .text
                  = image.title

