- @images.each_slice(2) do |images|
  - images.each do |image|
    .col-xs-12.col-md-4
      .panel.panel-default
        .panel-image.hide-panel-body
          %img.panel-image-preview
            = link_to(image_tag(image.picture.thumb.url), category_image_path(image.category, image),{ data:{ toggle:'tooltip',placement:'left'}, title:'Open this image'})
          .panel-body
            %p
              = link_to(image.title, category_image_path(image.category, image), { data:{ toggle:'tooltip',placement:'left'}, title:'Open full size'})
            %p
              = image.description[0..40]+ '...'
.col-sm-12.text-center
  = will_paginate @images

:css
  body{
    color: #2E2F30;
  }