- @images.each do |image|
  .col-sm-6.col-md-6.col-lg-4.col-xl-4
    .wrapper
      .hover11.column
        %figure
          .border_image
            = link_to category_image_path(image.category, image),{ data:{ toggle:'tooltip',placement:'left'}, title:'Open this image'} do
              = image_tag(image.picture.thumb.url)
          %br
      .text
        = image.title

