.col-sm-12.col-md-12.col-lg-12.col-xl-12
  - if user_signed_in?
    %br
    %br
    %form.new_message
      %input{name: 'room_id', type: 'hidden', value: "#{@room.id}"}/
      %input{name: 'user_id', type: 'hidden', value: "#{current_user.id}"}/
      .field
        %textarea.form-control{name: 'content', class: 'form-control', placeholder: t('new_message')}
      .action
        %br
          .pull-right
            %input.btn.btn-success.btn-lg{type: 'submit', value: t('post'), id: 'btn-message-post'}
