<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Robot</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/gallery/app/assets/javascripts/robot/main.js" type='text/javascript'></script>
<form>
    <label id="info"></label><br>
    Enter command:
    <br>
    <input type="text" name="command" id="command_text"><br>
    <button id="send_command_button">
        Button
    </button>
</form>
</body>
</html>