= content_for(:title, t('last_comments'))
.col-sm-12.col-md-12.col-lg-12.col-xl-12.well
  .text-center
    %h1
      = t('last_comments')
  = render partial: 'shared/list_of_comments_with_picture'
  .col-sm-12.col-md-12.col-lg-12.col-xl-12.text-center
    = will_paginate @comments