.carousel .carousel-picture-title {
  font-size: 2.5em;
  text-align: center;
}


.carousel-inner > .item > a > img {
  margin: 0 auto;
}

@media screen and (orientation: portrait) {
  .carousel,
  .carousel-inner,
  .carousel-inner .item,
  .carousel-inner img {
    height: auto;
    width: 100%;
  }
}

@media screen and (orientation: landscape) {
  .carousel,
  .carousel-inner,
  .carousel-inner .item,
  .carousel-inner img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1500px) {
  .carousel,
  .carousel-inner,
  .carousel-inner .item,
  .carousel-inner img {
    height: auto;
    width: 100%;
  }
}

.carousel .title-carousel-text {
  font-size: 4.5em;
  padding-bottom: 30%;
  text-align: center;
}
