//opacity


.hover11 figure img {
  opacity: .8;
}

.hover11 figure:hover img {
  opacity: 1;
}

.wrapper{
  position:relative;
}

.wrapper .text {
  bottom:40px;
  left:0;
  visibility:hidden;
  position:absolute;
}

.wrapper:hover .text {
  visibility:visible;
  color: white;
  position:absolute;
  font-size: 1.5em;
}


.panel-image.hide-panel-body{
  background-color: black;
  padding: 5px;
}