//opacity


.hover11 figure img {
  opacity: .8;
}

.hover11 figure:hover img {
  opacity: 1;
}

.border_image {
  background-color: $true-black;
  padding: 2px;
}

.wrapper {
  position: relative;

}



.wrapper .text {

  position: absolute;
  visibility: hidden;
}

.wrapper:hover .text {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $white;
  position: absolute;
  text-align: center;
  visibility: visible;
}