//opacity

.hover11 figure img {
  opacity: .8;
}

.hover11 figure:hover img {
  opacity: 1;
}

.wrapper {
  position: relative;
}

.wrapper .text {
  position: absolute;
  visibility: hidden;
}

.wrapper:hover .text {
  bottom: 7%;
  color: $white;
  left: 5%;
  position: absolute;
  text-align: center;
  visibility: visible;
}

.circle {
  img {
    border-radius: 50%;
    margin-bottom: 7px;
  }
}

.border-image {
  background-color: $true-black;
}
