required {
  color: $red-color;
}

.update-label:hover {
  color: $green-color;
}

.delete-label {
  color: $red-color;
}

.brd {
  border: 1px solid $true-black;
}

#message_input {
  position: relative;
}

.btn-message-post {
  position: absolute;
}

.well.well-tall {
  min-height: 80vh;
}
