.carousel-animate .hero {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
}
.btn.btn-lg {
  padding: 10px 40px;
}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #fff;
  background-color: #694198;
  border-color: rgb(67,41,97);
  outline: none;
  margin: 20px auto;
}