
body {
  background: url(https://i.stack.imgur.com/pMAiU.jpg) repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ecf0f1;
}

h1,h2
{
  color: #ecf0f1;
}

a {
  color: #f9fff9; /* Цвет ссылок */
}
a:visited {
  color: #f9fff9; /* Цвет посещенных ссылок */
}
a:active {
  color: #f9fff9 /* Цвет активных ссылок */
}

body {
  padding-top: 50px;
}

/* Dropdown menu background color*/

.navbar-nav > li > .dropdown-menu {  background-color: #282828;  }

/* Dropdown menu font color*/

.navbar-nav > li > .dropdown-menu a{   color: #e7e7e7;  }

.container{
  padding-top: 20px;
  padding-bottom: 30px;
  background: rgba(71, 71, 71, 0.5);
}

:target:before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
}

.carousel-inner > .item > a > img {
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

.carousel,
.carousel-inner,
.carousel-inner .item,
.carousel-inner img {
  height: 100% !important;
  width: 100% !important;
}

/*Correct images in all sizes*/
img {
  //display: block;
  height: auto;
  max-width: 100%;
}


.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
  transform: translate3d(0,0,0) rotate(0deg);
  width: 22px;
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
  transform: translate3d(0,0,0) rotate(0deg);
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
  transform: translate3d(0,0,0) rotate(0deg);
  width: 22px;
}
.navbar-toggle .icon-bar:nth-of-type(1) {
  transform: translate3d(1px,0,0) rotate(-45deg);
  transform-origin: center center;
  width: 11px;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
  transform: rotate(-90deg);
  transform-origin: center center;
}
.navbar-toggle .icon-bar:nth-of-type(3) {
  transform: translate3d(0px,-14px,0) rotate(-135deg);
  transform-origin: right top;
  width: 11px;
}



//
///* цвет фона и рамки навигационного меню */
//.navbar-default {
//  background-color: #2ecc71;
//  border-color: #27ae60;
//}
///* цвет текста, содержащий название сайта или бренда */
//.navbar-default .navbar-brand {
//  color: #ecf0f1;
//}
///* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
//.navbar-default .navbar-brand:hover,
//.navbar-default .navbar-brand:focus {
//  color: #d1ffed;
//}
///* Цвет пунктов навигационного меню */
//.navbar-default .navbar-nav > li > a {
//  color: #ecf0f1;
//}
///* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
//.navbar-default .navbar-nav > li > a:hover,
//.navbar-default .navbar-nav > li > a:focus {
//  color: #d1ffed;
//}
///* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
//.navbar-default .navbar-nav > .active > a,
//.navbar-default .navbar-nav > .active > a:hover,
//.navbar-default .navbar-nav > .active > a:focus {
//  color: #d1ffed;
//  background-color: #27ae60;
//}
///* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
//.navbar-default .navbar-nav > .open > a,
//.navbar-default .navbar-nav > .open > a:hover,
//.navbar-default .navbar-nav > .open > a:focus {
//  color: #d1ffed;
//  background-color: #27ae60;
//}
///* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */
//.navbar-default .navbar-nav > .dropdown > a .caret {
//  border-top-color: #ecf0f1;
//  border-bottom-color: #ecf0f1;
//}
///* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */
//.navbar-default .navbar-nav > .dropdown > a:hover .caret,
//.navbar-default .navbar-nav > .dropdown > a:focus .caret {
//  border-top-color: #d1ffed;
//  border-bottom-color: #d1ffed;
//}
///* Цвет стрелочки (треугольничка), открывшегося пункта меню */
//.navbar-default .navbar-nav > .open > a .caret,
//.navbar-default .navbar-nav > .open > a:hover .caret,
//.navbar-default .navbar-nav > .open > a:focus .caret {
//  border-top-color: #d1ffed;
//  border-bottom-color: #d1ffed;
//}
///* CSS стили для мобильных устройств */
///* Цвет рамки у кнопки, которая открывает меню */
//.navbar-default .navbar-toggle {
//  border-color: #27ae60;
//}
///* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
//.navbar-default .navbar-toggle:hover,
//.navbar-default .navbar-toggle:focus {
//  background-color: #27ae60;
//}
///* Цвет полосочек в кнопочке, которая открывает меню */
//.navbar-default .navbar-toggle .icon-bar {
//  background-color: #ecf0f1;
//}
///* Цвет пунктов меню в раскрывающихся списках */
//@media (max-width: 767px) {
//  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
//    color: #ecf0f1;
//  }
//  /* Цвет и фон пункта меню в раскрывающихся списках, при поднесении к нему курсора мышки или при нахождении его в фокусе */
//  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
//  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
//    color: #d1ffed;
//    background-color: #27ae60;
//  }
//}
//
