body {
  background: asset-data-url('site background.jpeg') repeat center center fixed;
  background-size: cover;
  color: $true-black;
  font-family: $revengeance-font;
  padding-top: 50px;
}

html,
body {
  height: 100%;
}

textarea {
  resize: none;
}

.navbar-brand {
  font-size: 20pt;
}

.panel {
  border: 0;
}

.modal {
  background-color: $background-modal;
  padding-right: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.well {
  background-color: $well-color;
  font-family: $revengeance-font;
  font-size: 11pt;
}

// Dropdown menu background color

li > .dropdown-menu {
  background-color: $true-black;

  a {
    background-color: $true-black;
    color: $gray-light;
    font-size: 1.25em;
  }
}

.navbar .nav > li > a,
.navbar .nav > li > a::first-letter,
.navbar .nav > li.current-menu-item > a {
  color: $gray-light;
  font-size: 1.25em;
}

.container {
  padding-bottom: 30px;
  padding-top: 20px;
}

:target::before {
  content: ' ';
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}
