//body
$gray: #3f3f3f;
//h1
$gray-light: #ebebeb;
$black: #515151;
$revengeance-font: 'Revengeance';
$well-color: rgba(245, 245, 245, .8);
$show-image-color: rgba(245, 245, 245, 1);
$true-black: #303030;
$panel-background: #000;

$outline-border-color: #00b6eb;
$outline-color: #00a7de;

$outline-hover-border-color: #35afd7;
$outline-hover-color: #37b6df;

$outline-active-border-color: #008bba;
$outline-active-color: #008cb8;
$white: #fff;
$red-color: #f00;
$green-color: #008000;
