#subscribe_form
- if user_signed_in?
  - path = current_user.subscribe?(@category) ? unsubscribe_category_path : subscribe_category_path
  - method  = current_user.subscribe?(@category) ? 'delete' : 'post'
  - subscribed = current_user.subscribe?(@category) ? 1 : 0
  %button{role: 'button',class: "js-subscribtion-category btn#{subscribed == 1 ? '' : ' btn-primary'}", data: {subscribed: subscribed},
  action: path, method: method  }