= content_for(:title, t('favorite_categories'))
.col-sm-12.col-md-12.col-lg-12.col-xl-12.well.text-center
  %h1
    = t('favorite_categories')
  = render partial: 'shared/list_of_categories', locals: {categories: @categories}
  = render 'shared/create_new_category'
  @users.