%h1 All categories
= render 'shared/list_of_categories'
- if user_signed_in?
  %button{type: 'button', remote: true, href: new_category_path, class:'btn btn-primary', data: {target: '#myModal', toggle: 'modal'}}
    Create own category
  = render partial: 'categories/new'
