= content_for(:title, 'TOP 5')
.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.well.text-center
  .hero.slideInDown.animated
    %h1
      TOP 5
  = render partial: 'shared/list_of_categories', locals: {categories: @popular_categories}