%br
- if user_signed_in?
  - path = @image.liked_by?(current_user) ? category_image_like_path(@category, @image) : category_image_likes_path(@category, @image)
  - method  = @image.liked_by?(current_user)  ? 'delete' : 'post'
  - liked = @image.liked_by?(current_user)  ? 1 : 0
  %a.btn{class: "js-like-image #{liked == 1 ? ' btn-default' : ' btn-success'}", data: {liked: liked}, id: 'like',
  action: path, method: method }
  %label_tag{ class: "js-count-like-label" }
    = @image.likes.count

